:root {
    --colour1: #3AB795;
    --colour2: #C9E4CA;
    --colour3: #2E3532;
    --colour4: #EDEAE0;
    --colour5: #273043;
    --colour6: #FCF5C7;
}

.btn-outline-bear {
    color: var(--colour3)!important;
    background-color: transparent;
    background-image: none;
    border-color: var(--colour3)!important;
}

.btn-outline-heist {
    color: var(--colour5)!important;
    background-color: transparent;
    background-image: none;
    border-color: var(--colour5)!important;
}

.btn:hover {
    color: #fff;
    background-color: var(--colour1);
    border-color: var(--colour1);
}

.btn {
    margin-left: 2px;
    margin-right: 2px;
}

.bg-light {
    background-color: var(--colour2)!important;
}

.navbar-brand {
    color: var(--colour5)!important;
    width: 0;
    margin: 0;
}

.nav-link {
    color: var(--colour5)!important;
}

.navbar-toggler {
    position: absolute;
    right: 20px;
}

.flex {
    display: flex;
}

.mobile-nav .collapse {
    display: none;
}

.mobile-nav {
    display: flex;
    position: absolute;
    right: 10%;
}

/* Fullscreen */
@media (min-width: 992px) {
 
    .navbar {
        height:50px;
    }

    .tablet-toggle {
        display: none;
    }

    img {
        display: flex!important;
    }

    .dual-collapse2 {
        position: relative!important;
        left: 0!important;
    }
}

/* Tablet */
@media (min-width: 750px) {

    img {
        display:none;
    }

    .tablet-toggle {
        display: flex;
    }

    .mobile-toggle {
        display: none;
    }

    .mobile-command {
        display: none;
    }
}

/* Mobile */
@media (max-width: 750px) {

    img {
        display: none;
    }

    .tablet-toggle {
        display: none;
    }

    .mobile-toggle {
        display: flex;
        flex-direction: column;
        text-align: right;
        position: fixed;
        top: 63px;
        right: 12px;

        border-style: solid;
        border-width: 1px;
        border-color: var(--colour1);

        padding: 5px;
        background-color: var(--colour4);
        border-radius: 10px;

        z-index: 1;
    }

    .dropdown-toggle {
        display: none;
    }

    .btn {
        margin: 2px;
    }

    .mobile-command {
        display: flex;
        flex-direction: row;
    }

    .navbar-brand {
        display: none;
    }
}

.fullscreenbody {
    background-color: var(--colour6);
    width: 100%;
    height: 100%;

    padding-top: 50px;
}

.card-deck {
    display: none;
    width: 90%;
}